 <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 item text">
                        <h3>About Us</h3>
                        <p style="color: inherit; font-size: 14px;">
                            marker is about to save your important link with your input tags which
                            are used to search those link efficiently
                            <br><br>
                            <a href="https://slashemi.com/journey.php">Track our journey</a> as we build SlashEMI
                            openly. <br>
                            <a href="https://slashemi.com/discuss/index.php">Slash EMI Blog</a>
                        </p>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Marker</h3>
                        <ul>
                            <li><a href="#">Refund</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">sitemap</a></li>
                            <li><a href="#">blogs</a></li>
                        </ul>
                    </div>
                    <div class=" col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="credit">
                <i class="fa fa-copyright"></i> <a href="https://slashemi.com/"><b>marker.com</b></a> |
                <a href="#">Home </a>
                <a href="#"> About </a>
                <a href="#"> Contact </a>
                <a href="#"> Disclaimer </a>
                <a href="#"> Copyright Policy </a>
                <a href="#"> Privacy Policy </a>
            </div>
        </footer>
    </div>
