<nav class="navbar navbar-expand-md d-flex fixed-top navbar-light bg-white  shadow-bottom">
    <div class="container-fluid">
        <a href="https://slashemi.com/index.php" class="navbar-brand">&nbsp;MARKER</a>


        <button class="btn btn-md join-btn">
            <a class=" text-white " href="#">GET MARKER FREE</a>
        </button>

        <button class="btn btn-md join-btn">
            <a class=" text-white " href="<%= search_path %>">SEARCH</a>
        </button>

    </div>

</nav>