<nav class="navbar navbar-expand-md  fixed-top navbar-light bg-white  shadow-bottom">

    <div class="container-fluid ">
        <a href="<%= root_path %>" class="navbar-brand brand">&nbsp;MARKER</a>

        <div class="d-flex align-items-center">

            <a class="search_path" href="<%= search_path %>">search</a>

            <button class="btn btn-md join-btn">
                <a class=" text-white " href="#">GET MARKER FREE</a>
            </button>

        </div>

    </div>
</nav>