<nav class="navbar navbar-expand-md navbar-light bg-transparent border-bottom w-100"
    style="overflow: hidden !important;">
    <div class="container d-flex justify-content-between " style="padding: 0 25px !important;">
        <!-- logo -->
        <a class="navbar-brand" href="/" style="color: #4dcac6;">MARKER</a>

        <!-- toogle button -->
        <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> %>

        <!-- nav-links -->
        
        <%# <div class="collapse navbar-collapse bg-white" id="navbarSupportedContent"> %>
            <%# <ul class="navbar-nav ms-auto ">
                <li class="nav-item mx-1">
                    <a class="nav-link hover text-center" href="#">Saved Collections</a>
                </li>
            </ul> %>
            <div class="">
							<a href="#" class="btn px-4 m-1 border-0 border-radius-new" style="color: white; background: #4dcac6;">Create Collection</a>
							<% if current_user%>
								<a href="/users/sign_out" class="btn btn-success px-4 m-1 border-0 border-radius-new" data-method="delete">Log out</a>
							<%else%>
								<a href="/users/sign_in" class="btn btn-success px-4 m-1 border-0 border-radius-new">Login</a>
							<%end%>
            </div>
        <%# </div> %>
    </div>	
</nav>