* {
  margin: 0;
  padding: 0;
  font-size: 14.5px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  display: block;
}

.b-green {
  background: #42b175 !important;
  color: white !important;
}

.c-green {
  color: #59ce8f;
}

.b-green:hover {
  color: white;
}

.c-dark {
  color: #222222;
}

.b-dark {
  background-color: #222222;
  color: white;
}

.b-gray{
  background: #f2f2f2;
}

.rounded-10 {
  border-radius: 20px;
}

.social-media .social-icon {
  border: 1px solid #59ce8f;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-decoration: none;
  color: #59ce8f;
}

#login-form {
  min-height: 400px;
  max-width: 401px;
}

.home-hero h1 {
  border-bottom: 4px solid rgb(214, 214, 214);
  width: fit-content;
}

.bor-bottom {
  border-bottom: 4px solid rgb(214, 214, 214);
  width: fit-content;
}

.form-float .float-wrap {
  position: relative;
}

.form-float .float-wrap input {
  padding: 10px;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 6px;
  border: 2px solid #999;
}

.form-float .float-wrap label {
  font-style: italic;
  font-size: 13px;
  position: absolute;
  top: 12px;
  left: 12px;
  color: #999;
  transition: 0.5s;
  pointer-events: none;
  background: white;
}

.form-float input:focus ~ label,
.form-float input:valid ~ label {
  top: -7px;
  left: 10px;
  color: #42b175;
}

.search-bar input {
  border: none;
  background: #f2f2f2;
  padding: 10px 20px;
  border-radius: 24px;
  max-width: 350px;
}

.search-bar button {
  border: none;
  background: transparent;
  margin: -30px;
}

.mark-box {
  background: #f2f2f2;
  border-radius: 8px;
  /* box-shadow: 0 0 12px #ccc; */
}

.mark-box small {
  word-break: break-all;
}

.mark-thumb {
  border-radius: 8px;
  background: #42b175;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: white;
}

.tag {
  background: white;
  color: #999;
  width: fit-content;
  padding: 4px 10px;
  border: 1px solid #42b175;
  border-radius: 20px;
  font-size: 11px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tag:hover {
  color: #42b175;
}

.small-tag {
  display: inline-flex;
  border-radius: 4px;
  margin-top: 8px;
}

.small-tag a {
  border-radius: 8px;
  border: 1px solid #999;
  padding: 2px 6px;
  color: #999;
  margin-right: 5px;
  font-size: 13px;
}

.small-tag a:hover {
  color: #42b175;
  border: 1px solid #42b175;
}

.font-s{
  font-size: .875em;
}

/* 
------------------------
AUTOCOMPLETE DROPDOWN
------------------------
*/
.ui-menu .ui-menu-item div {
  padding: 8px 16px;
  font-size: 13px;
}
.ui-menu .ui-menu-item .ui-state-active {
  background: #e4e4e4;
  color: black;
  border: transparent;
  padding: 9px 0 9px 11px;
  border-left: 6px solid #42b175;
}




/* sidebar */


body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: calc(100vh - 61px); /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}